*{

}
body{
    background-color:;
}

img{
    display: block;
    width: auto;
    max-width: 100%;

}
#title{
    text-align: center;
}
#name{
    font-family: Helvetica, sans-serif;
    letter-spacing: -8pt;
    font-size: 400%;
}
#real-name{
    font-family: Helvetica;
    font-variant: small-caps;
}
#img-div{
    text-align: center;
    margin: auto;
    display: block;

}
#image{
    text-align: center;
    margin: auto;
    display: block;
    filter: drop-shadow(1px 15px 3px black);
}
#img-caption{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
}
#tribute-info{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    margin: auto;
    padding: 25px 25px 25px 25px;
}

#discography{
    align-content: center;
}

#ext-link{
    text-align: center;

}
#tribute-link{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    text-decoration-line: none;
    color: black;
}
