*{

}
body{
    background-color:;
}

img{
    justify-content: center;
    width: auto;
    max-width: 100%;
}

#title{
    text-align: center;
}
#name{
    font-family: Helvetica, sans-serif;
    letter-spacing: -8pt;
    font-size: 400%;
}
#real-name{
    font-family: Helvetica;
}
#img-div{
    text-align: center;
    margin: auto;
    display: block;
}
#img{

}
#img-caption{

}
#tribute-info{

}
#tribute-linnk{

}
